{% extends "base.html" %}
{% block title %} Templates {% endblock %}
{% block content %}

<div>
	<h1> Add record for {{catalog.name}}'s {{category.name}} </h1>
</div>

<div>
	<a href={{ url_for('viewRecords', catalog_id=catalog.id, category_id=category.id) }}> Back to {{category.name}} </a>
	<br>
	<a href={{ url_for('newRecordTemplate', catalog_id=catalog.id, category_id=category.id) }}> Create New Record Template </a>
</div>

<div>
	{% if rTemplates %}
		<h2> Your templates </h2>
		{% for rTemplate in rTemplates %}
			<li> 
				<a href={{ url_for('newRecord', catalog_id=catalog.id, category_id=category.id, record_template_id=rTemplate.id) }}> {{rTemplate.name}} </a>
				<br>
				<a href={{ url_for('editRecordTemplate', catalog_id=catalog.id, category_id=category.id, rtemplate_id=rTemplate.id) }}> Edit </a>
				<a href={{ url_for('deleteRecordTemplate', catalog_id=catalog.id, category_id=category.id, rtemplate_id=rTemplate.id) }}> Delete </a>
			</li>
		{% endfor %}
	{% endif %}
</div>

{% endblock %}