{% extends "base.html" %}
{% block title %} Edit Template {% endblock %}
{% block header %}  {% endblock %}
{% block content %}

<div>
	<h1> Rename {{catalog.name}} - {{category.name}}'s Template: {{rTemplate.name}} </h1>
</div>

<div>
	<form action="#" method="post">
		Name of {{rTemplate.name}}:
		<br>
		<input type="text" name="new-rt-name">
		<br>
		<input type="submit">
		<a href={{ url_for('addRecord', catalog_id=catalog.id, category_id=category.id) }}> Cancel </a>
	</form>
</div>

{% endblock %}