{% extends "base.html" %}
{% block title %} New Category {% endblock %}
{% block header %} {{catalog.name}} - New Category Name {% endblock %}
{% block content %}

<div>
	<form action="#" method="post">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<label for="category-name" class="mdl-textfield__label"> Category Name </label>
			<input type="text" name="category-name" id="category-name" class="mdl-textfield__input">
			<br>
		</div>
		<button type="submit" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent"> <i class="material-icons"> done </i> </button>
		<a href={{ url_for('viewCategories', catalog_id=catalog.id) }} class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"> <i class="material-icons"> clear </i> </a>
	</form>
</div>

{% endblock %}