{% extends "base.html" %}
{% block title %} New Catalog {% endblock %}
{% block header %}  {% endblock %}
{% block content %}

<div>
	<h1> Name your new catalog </h1>
</div>

<div>
	<form action="#" method="post">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<label for="catalog-name" class="mdl-textfield__label"> Catalog Name </label>
			<input type="text" name="catalog-name" id="catalog-name" class="mdl-textfield__input">
		</div>
		<button type="submit" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent"> <i class="material-icons"> done </i> </button>
		<a href={{ url_for('viewCatalogs') }} class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"> <i class="material-icons"> clear </i> </a>
	</form>
</div>

{% endblock %}