{% extends "base.html" %}
{% block title %}  {% endblock %}
{% block content %}

<div>
	<h1> Add record for {{catalog.name}}'s {{category.name}} using {{rTemplate.name}}</h1>
</div>

<div>
	<a href={{ url_for('viewRecords', catalog_id=catalog.id, category_id=category.id) }}> Back to {{category.name}} </a>
</div>

<div>
	<h2> Record details </h2>
	{% if fTemplates %}
		<form action="#" method="post">
			{% for fTemplate in fTemplates %}
				{% if fTemplate[0] == "short_text" %}
					{{ fTemplate[1] }}:<br>
					<input type="text">
					<br>
				{% endif %}

				{% if fTemplate[0] == "long_text" %}
					{{ fTemplate[1] }}:<br>
					<textarea type="text" maxlength="500" rows="3"></textarea>
					<br>
				{% endif %}

				{% if fTemplate[0] == "check_box" %}
					{{ fTemplate[1] }}:<br>
					{% for option in fTemplate[2] %}
						<input type="checkbox", value={{option}}> {{option}}
						<br>
					{% endfor %}
					<br>
				{% endif %}

				{% if fTemplate[0] == "radio" %}
					{{ fTemplate[1] }}:<br>
					{% for option in fTemplate[2] %}
						<input type="radio" value={{option}}> {{option}}
						<br>
					{% endfor %}
					<br>
				{% endif %}

				{% if fTemplate[0] == "drop_down" %}
					{{ fTemplate[1] }}:<br>
					<select>
						{% for option in fTemplate[2] %}
							<option value={{option}}> {{option}} </option>
						{% endfor %}
					</select>
					<br>
				{% endif %}
			{% endfor %}
		</form>
	{% endif %}
</div>

{% endblock %}