{% extends "base.html" %}
{% block title %} Records {% endblock %}
{% block header %} {{catalog.name}} - {{category.name}}: Records {% endblock %}
{% block content %}

<div>
	<a href={{ url_for('viewCategories', catalog_id=catalog.id) }} class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"> Back to {{catalog.name}} </a>
	<br><br>
	<a href={{ url_for('addRecord', catalog_id=catalog.id, category_id=category.id) }} class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"> Add Record </a>
</div>

<div>
	{% if records %}
		<h2>Records</h2>
		<ul>
			{% for record in records %}
				<li class="mdl-list">
					<a href={{ url_for('showRecord', catalog_id=catalog.id, category_id=category.id, record_id=record.id) }} class="mdl-button mdl-js-button mdl-button--primary"> {{ record.name }} </a>
					<a href={{ url_for('editRecord', catalog_id=catalog.id, category_id=category.id, record_id=record.id) }} class="mdl-button mdl-js-button mdl-button--icon"> <i class="material-icons"> mode_edit </i> </a>
					<a href={{ url_for('deleteRecord', catalog_id=catalog.id, category_id=category.id, record_id=record.id) }} class="mdl-button mdl-js-button mdl-button--icon"> <i class="material-icons"> delete </i> </a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>

{% endblock %}