{% extends "base.html" %}
{% block title %} View Catalogs {% endblock %}
{% block header %} Catalogs {% endblock %}
{% block content %}

<div>
	<a href={{ url_for('newCatalog') }} class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"> Create New Catalog </a>
</div>

<div>
	{% if catalogs %}
		<h3> Your Catalogs </h3>
		<ul>
			{% for catalog in catalogs %}
				<li class="mdl-list">
					<a href={{ url_for('viewCategories', catalog_id=catalog.id )}} class="mdl-button mdl-js-button mdl-button--primary"> {{ catalog.name }} </a>
					{% if current_user == catalog.user_id %}
						<a href={{ url_for('editCatalog', catalog_id=catalog.id )}} class="mdl-button mdl-js-button mdl-button--icon"> <i class="material-icons"> mode_edit </i> </a>
						<a href={{ url_for('deleteCatalog', catalog_id=catalog.id )}} class="mdl-button mdl-js-button mdl-button--icon"> <i class="material-icons"> delete </i> </a>
					{% endif %}
				</li>

			{% endfor %}
		</ul>
	{% endif %}
</div>

{% endblock %}